<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form>
    <p align="center"><b>Enter Transaction ID for work with</b><br><input type="text" name="ID" style="width: 200px"></p>

    <p align="center"><input type="button" value="Delete" onClick="location.href='remove?id='+this.form.ID.value" style="width: 100px; height: 30px"></p>

    <p align="center"><input type="button" value="Add" onClick="location.href='add?id='+this.form.ID.value" style="width: 100px; height: 30px"></p>

    <br><br>
    <p align="center"><b>Field to change</b><br><select id='menu' name="menu" size="1">
        <option selected="selected" value="TransactionID">TransactionID</option>
        <option value="UserID">UserID</option>
        <option value="BillID">BillID</option>
        <option value="TimeID">TimeID</option>
    </select></p>
    <p align="center"><b>New field value</b><br><input type="text" name="New_change" style="width: 200px"></p>
    <p align="center"><input type="button" value="Change" onClick="location.href='change?id='+this.form.ID.value+'&field='+document.getElementById('menu').value+'&new='+this.form.New_change.value" style="width: 100px; height: 30px"></p>

    <br><br>
    <p align="center"><b>Field to change</b><br><select id='menu1' name="menu" size="1">
    {% for i in table_tr %}
        <option value="{{i}}">{{i}}</option>
    {% endfor %}

    </select></p>
</form>
</body>
</html>