<!DOCTYPE html>
<html>

<head lang="en">
    <script src="static/jquery-1.11.0.min.js"></script>
    <meta charset="UTF-8">
    <title></title>
    <!--<SCRIPT Language="JavaScript">-->
    <!--&lt;!&ndash;//-->
    <!--function showAndClearField(frm){-->
      <!--if (frm.value == "")-->
          <!--alert("Hey! You didn't enter anything!")-->
      <!--else-->
          <!--alert("The field contains the text: " + frm.value)-->
    <!--}-->
    <!--//&ndash;&gt;-->
    <!--</SCRIPT>-->
</head>

<body>
    <form>






    <!--<br>-->
    <!--<p align="center"><b>ID for delete</b><br><input type="text" name="ID_rmv" style="width: 200px"></p>-->
    <!--<p align="center"><input type="button" value="Delete" onClick="location.href='remove?id='+this.form.ID_rmv.value" style="width: 100px; height: 30px"></p>-->

    <!--<br>-->
    <!--<p align="center"><b>ID for add</b><br><input type="text" name="ID_add" style="width: 200px"></p>-->
    <!--<p align="center"><input type="button" value="Add" onClick="location.href='add?id='+this.form.ID_add.value" style="width: 100px; height: 30px"></p>-->

    <!--<br>-->
    <!--<p align="center"><select id='menu' name="menu" size="1">-->
        <!--<option selected="selected" value="TransactionID">TransactionID</option>-->
        <!--<option value="UserID">UserID</option>-->
        <!--<option value="BillID">BillID</option>-->
        <!--<option value="TimeID">TimeID</option>-->
    <!--</select></p>-->
    <!--<p align="center"><b>ID for change</b><br><input type="text" name="ID_change" style="width: 200px"></p>-->
    <!--<p align="center"><b>New field value</b><br><input type="text" name="New_change" style="width: 200px"></p>-->
    <!--<p align="center"><input type="button" value="Change" onClick="location.href='change?id='+this.form.ID_change.value+'&field='+document.getElementById('menu').value+'&new='+this.form.New_change.value" style="width: 100px; height: 30px"></p>-->

    <p align="center"><input type="button" value="View database tables" onClick="location.href='view'" style="width: 200px; height: 30px"></p>
    <p align="center"><input type="button" value="Search some data" onClick="location.href='search'" style="width: 200px; height: 30px"></p>
    <p align="center"><input type="button" value="Change transaction data" onClick="location.href='chng'" style="width: 200px; height: 30px"></p>
    <p align="center"><input type="button" value="Load data from file" onClick="location.href='load'" style="width: 200px; height: 30px"></p>


    <!--<p align="center"><input type="button" value="Text search not word" onClick="location.href='not_word/'" style="width: 200px; height: 30px"></p>-->


    <!--<P>Enter your First Name: <INPUT TYPE="TEXT" NAME="N1"><BR><BR>-->
    <!--<INPUT TYPE="Button" Value="Show and Clear Input" onClick=alert(this.form.T1.value)></P>-->
        <!--<br><br><br>-->

    <!--<script>alert($("[name='T1']").val())</script>-->
    </form>
</body>

</html>

<!--<HTML>-->
<!--<HEAD>-->
<!--<TITLE>JavaScript Form - Input Text Field</TITLE>-->
<!--<SCRIPT Language="JavaScript">-->
<!--&lt;!&ndash;//-->
<!--function showAndClearField(frm){-->
  <!--if (frm.firstName.value == "")-->
      <!--alert("Hey! You didn't enter anything!")-->
  <!--else-->
      <!--alert("The field contains the text: " + frm.firstName.value)-->
<!--}-->
<!--//&ndash;&gt;-->
<!--</SCRIPT>-->
<!--</HEAD>-->
<!--<BODY>-->
<!--<FORM NAME="test">-->
<!--<H2>Enter something into the field and press the button. <br>-->
<!--Please try this a few times.</H2>-->
<!--<P>Enter your First Name: <INPUT TYPE="TEXT" NAME="firstName"><BR><BR>-->
<!--<INPUT TYPE="Button" Value="Show and Clear Input" onClick="showAndClearField(this.form)">-->
<!--</P>-->
<!--</FORM>-->
<!--</BODY>-->
<!--</HTML>-->