<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form>
    <p align="center"><input type="button" value="Search in users table" onClick="location.href='usrs_search1'" style="width: 200px; height: 30px"></p>
    <p align="center"><input type="button" value="Search in bills table" onClick="location.href='blls_search'" style="width: 200px; height: 30px"></p>
    <p align="center"><input type="button" value="Search in times table" onClick="location.href='tmes_search'" style="width: 200px; height: 30px"></p>
</form>
</body>
</html>