<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form>
    <p align="center"><input type="button" value="Show users" onClick="location.href='users'" style="width: 150px; height: 30px"></p>
    <p align="center"><input type="button" value="Show bills" onClick="location.href='bills'" style="width: 150px; height: 30px"></p>
    <p align="center"><input type="button" value="Show times" onClick="location.href='times'" style="width: 150px; height: 30px"></p>
    <p align="center"><input type="button" value="Show transactions" onClick="location.href='transactions'" style="width: 150px; height: 30px"></p>
</form>
</body>
</html>